{% load static %}
<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shop/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>
<body>
    {% include 'shop/navigation.html' %}

    <div class="header grid grid--4-cols">
        <div class="header-feature">
            <ion-icon class="header-icon" name="pricetag-outline"></ion-icon>
            <h2 class="header-text">Najnovije akcije</h2>
            <a class="header-link" href="#">Pogledajte sve</a>
        </div>
        <div class="header-feature">
            <ion-icon class="header-icon" name="diamond-outline"></ion-icon>
            <h2 class="header-text">Osvojite i do 50% popusta</h2>
            <a class="header-link" href="#">Pogledajte kako</a>
        </div>
        <div class="header-feature">
            <ion-icon class="header-icon" name="card-outline"></ion-icon>
            <h2 class="header-text">Kupovina na rate</h2>
            <a class="header-link" href="#">Saznajte više</a>
        </div>
        <div class="header-feature">
            <ion-icon class="header-icon" name="home-outline"></ion-icon>
            <h2 class="header-text">Isporuka</h2>
            <a class="header-link" href="#">Saznajte više</a>
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    

    <div class="payment">
        <img src="{% static 'shop/image/payment/visa.png' %}" alt="payment method">
        <img src="{% static 'shop/image/payment/mastercard.png' %}" alt="payment method">
        <img src="{% static 'shop/image/payment/komercijalnabanka.png' %}" alt="payment method">
        <img src="{% static 'shop/image/payment/bankaintesa.png' %}" alt="payment method">
        <img src="{% static 'shop/image/payment/raiffeisenbanka.png' %}" alt="payment method">
    </div>

    {% include 'shop/footer.html' %}

    <script src="{% static 'shop/js/index.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>