<div class="footer">
    <div class="container grid grid--5-cols">
        <div class="nav-logo">
            <a href="#">PC Shop</a>
            <p class="copyright">Copyright &copy; 2022 by Nex. Sva prava su zadržana.</p>
            <h3 class="footer-title-author">Programirao</h3>
            <p class="author">Nemanja  Ilić</p>
        </div>
        <div class="footer-nav-links">
            <h3 class="footer-title">Navigacija</h3>
            <ul class="footer-list">
                <li><a class="footer-list-item" href="#">Prenosni računari</a></li>
                <li><a class="footer-list-item" href="#">Računari i komponente</a></li>
                <li><a class="footer-list-item" href="#">Računari i komponente</a></li>
                <li><a class="footer-list-item" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="footer-nav-links">
            <h3 class="footer-title">Prodaja</h3>
            <ul class="footer-list">
                <li><a class="footer-list-item" href="#">Najnovije akcije</a></li>
                <li><a class="footer-list-item" href="#">Osvojite i do 50% popusta</a></li>
                <li><a class="footer-list-item" href="#">Kupovina na rate</a></li>
                <li><a class="footer-list-item" href="#">Isporuka</a></li>
            </ul>
        </div>
        <div class="footer-nav-links">
            <h3 class="footer-title">Korisnički nalog</h3>
            <ul class="footer-list">
                <li><a class="footer-list-item" href="#">Već ste registrovani? Ulogujte se sada</a></li>
                <li><a class="footer-list-item" href="#">Zaboravljena lozinka</a></li>
                <li><a class="footer-list-item" href="#">Registracija</a></li>
            </ul>
        </div>
        <div class="footer-nav-links">
            <h3 class="footer-title">Potrebna Vam je pomoć?</h3>
            <ul class="footer-list">
                <li><a class="footer-list-item" href="#">Kontakt</a></li>
                <li><a class="footer-list-item" href="#">Kako kupovati na pcshop.rs</a></li>
                <li><a class="footer-list-item" href="#">Česta pitanja</a></li>
            </ul>
        </div>
    </div>
</div>