{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<h3 class="heading-primary">Preporučujemo za Vas <ion-icon class="icon-heading icon-heading-checkmark" name="checkmark-circle-outline"></ion-icon></h3>
<div class="container">
    <div class="home-products">
        {% for product in products %}
            {% if product.available %}
                <div class="product">
                    <div class="product-content" onclick="location.href='{% url 'product_detail' product.category product.id %}';">
                        <h3 class="product-name">{{product.name|truncatechars:33}}</h3>
                        <img src="{% static 'shop/image/product.png' %}" alt="Product image">
                        <p class="product-price">{{product.price}} RSD</p>
                        <p class="product-description">{{product.description|truncatechars:60}}</p>
                    </div>
                    {% if product.in_stock %}
                        <a href="#" class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
                    {% else %}
                        <p class="not-in-stock not-in-stock-homepage">Nije dostupno</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        
    </div>
</div>

<h3 class="heading-primary">Najnovije u ponudi <ion-icon class="icon-heading icon-heading-flash" name="flash-outline"></ion-icon></h3>
<div class="container">
    <div class="home-products home-latest">
        {% for product in products %}
            {% if product.latest and product.available %}
                <div class="product">
                    <div class="product-content" onclick="location.href='{% url 'product_detail' product.category product.id %}';">
                        <h3 class="product-name">{{product.name|truncatechars:33}}</h3>
                        <img src="{% static 'shop/image/product.png' %}" alt="Product image">
                        <p class="product-price">{{product.price}} RSD</p>
                        <p class="product-description">{{product.description|truncatechars:60}}</p>
                    </div>
                    {% if product.in_stock %}
                        <a href="#" class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
                    {% else %}
                        <p class="not-in-stock not-in-stock-homepage">Nije dostupno</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


<h3 class="heading-primary">Preporuka Desktop i laptop računara <ion-icon class="icon-heading icon-heading-accessibility" name="accessibility-outline"></ion-icon></h3>
<div class="container">
    <div class="home-products home-recommendation">
        {% for product in products %}
            {% if product.recommendation and product.available %}
                <div class="product">
                    <div class="product-content" onclick="location.href='{% url 'product_detail' product.category product.id %}';">
                        <h3 class="product-name">{{product.name|truncatechars:33}}</h3>
                        <img src="{% static 'shop/image/product.png' %}" alt="Product image">
                        <p class="product-price">{{product.price}} RSD</p>
                        <p class="product-description">{{product.description|truncatechars:60}}</p>
                    </div>
                    {% if product.in_stock %}
                        <a href="#" class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
                    {% else %}
                        <p class="not-in-stock not-in-stock-homepage">Nije dostupno</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}