{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="home-products grid grid--3-cols">
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
        </div>
        
    </div>
</div>
{% endblock %}