{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<h3 class="heading-primary">Preporučujemo za Vas <ion-icon class="icon-heading icon-heading-checkmark" name="checkmark-circle-outline"></ion-icon></h3>
<div class="container">
    <div class="home-products">
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        
    </div>
</div>

<h3 class="heading-primary">Najnovije u ponudi <ion-icon class="icon-heading icon-heading-flash" name="flash-outline"></ion-icon></h3>
<div class="container">
    <div class="home-products home-latest">
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
    </div>
</div>


<h3 class="heading-primary">Preporuka Desktop i laptop računara <ion-icon class="icon-heading icon-heading-accessibility" name="accessibility-outline"></ion-icon></h3>
<div class="container">
    <div class="home-products home-recommendation">
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
        <div class="product">
            <h3 class="product-name">Neki proizvod</h3>
            <img src="{% static 'shop/image/product.png' %}" alt="Product image">
            <p class="product-price">30.999 RSD</p>
            <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit...</p>
            <div class="btns">
                <button class="btn product-btn"><a href="#">Pogledajte više</a></button>
                <a class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}