<nav class="nav">
    <div class="nav-logo">
        <a href="{% url 'home' %}">PC Shop</a>
    </div>
    <div class="nav-list">
        <ul>
            <li><a class="nav-list-item" href="{% url 'product_laptop' %}">Prenosni računari</a></li>
            <li><a class="nav-list-item" href="{% url 'product_pc' %}">Računari i komponente</a></li>
            <li><a class="nav-list-item" href="#">Oprema za računare</a></li>
            <li><a class="nav-list-item" href="#">PC Bilder</a></li>
            <li><a class="nav-list-item" href="#">Gaming</a></li>
            <li><a class="nav-list-item" href="{% url 'prijava' %}">Prijavite se</a></li>
            <li><a class="nav-list-item" href="{% url 'register' %}">Registrujte se</a></li>
        </ul>
    </div>
</nav>