<nav class="nav">
    <div class="nav-logo">
        <a href="#">PC Shop</a>
    </div>
    <div class="nav-list">
        <ul>
            <li><a class="nav-list-item" href="#">Prenosni računari</a></li>
            <li><a class="nav-list-item" href="#">Računari i komponente</a></li>
            <li><a class="nav-list-item" href="#">Oprema za računare</a></li>
            <li><a class="nav-list-item" href="#">Gaming</a></li>
            <li><a class="nav-list-item" href="#">Prijavite se</a></li>
            <li><a class="nav-list-item" href="#">Registrujte se</a></li>
        </ul>
    </div>
</nav>