{% extends 'shop/base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}
PC Shop | {{product.name}}
{% endblock title %}

{% block content %}
<h2 class="product-detail-name">{{product.name}}</h2>
<p class="product-category">{{product.subcategory.category}} - {{product.subcategory.name}}</p>
<div class="product-detail">
    <div class="product-left">
        <img class="product-photo" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'pcshop/media/nophoto.jpg' %}{% endif %}" alt="Product Photo">
    </div>
    <div class="product-right">
        <h3 class="product-detail-price">{{product.price}} RSD</h3>
        {% if product.online_shopping %}
            <ul class="product-online-shopping allow">
                <li>Proizvod raspoloživ za online kupovinu</li>
            </ul>
        {% else %}
            <ul class="product-online-shopping deny">
                <li>Proizvod nije raspoloživ za online kupovinu</li>
            </ul>
        {% endif %}
        <p class="product-description">{{product.description}}</p>
        <p class="product-price-rate">Prodaja na rate bez kamate, već od: {{product.price|intdiv:24}} RSD mesečno</p>
        {% if product.in_stock and product.online_shopping %}
            <div class="product-action">
                <button class="btn product-cart product-cart-allow"><a href="#">Dodaj u korpu</a></button>
                <button class="btn product-buy product-buy-allow"><a href="#">Kupi odmah</a></button>
            </div>
        {% else %}
            <div class="product-action">
                {% if not product.in_stock %}
                    <p class="not-in-stock">Prodato</p>
                {% else %}
                <p class="not-in-stock">Kupovina u radnji</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>


<h3 class="heading-primary">Preporuka Desktop i laptop računara <ion-icon class="icon-heading icon-heading-accessibility" name="accessibility-outline"></ion-icon></h3>
<div class="container">
    <div class="home-products home-recommendation">
        {% for pc in pcs %}
            {% if pc.recommendation and pc.available %}
                <div class="product">
                    <div class="product-content" onclick="location.href='{% url 'product_detail' pc.subcategory.category pc.subcategory.name pc.id %}';">
                        <h3 class="product-name">{{pc.name|truncatechars:33}}</h3>
                        <img src="{% if pc.image %}{{ pc.image.url }}{% else %}{% static 'pcshop/media/nophoto.jpg' %}{% endif %}" alt="Product image">
                        <p class="product-price">{{pc.price}} RSD</p>
                        <p class="product-description">{{pc.description|truncatechars:60}}</p>
                    </div>
                    {% if pc.in_stock and pc.online_shopping %}
                        <a href="#" class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
                    {% else %}
                        {% if not pc.in_stock %}
                        <p class="not-in-stock not-in-stock-homepage">Prodato</p>
                        {% else %}
                        <p class="not-in-stock not-in-stock-homepage">Kupovina u radnji</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        {% for laptop in laptops %}
            {% if laptop.recommendation and laptop.available %}
                <div class="product">
                    <div class="product-content" onclick="location.href='{% url 'product_detail' laptop.subcategory.category laptop.subcategory.name laptop.id %}';">
                        <h3 class="product-name">{{laptop.name|truncatechars:33}}</h3>
                        <img src="{% if laptop.image %}{{ laptop.image.url }}{% else %}{% static 'pcshop/media/nophoto.jpg' %}{% endif %}" alt="Product image">
                        <p class="product-price">{{laptop.price}} RSD</p>
                        <p class="product-description">{{laptop.description|truncatechars:60}}</p>
                    </div>
                    {% if laptop.in_stock and laptop.online_shopping %}
                        <a href="#" class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
                    {% else %}
                        {% if not laptop.in_stock %}
                        <p class="not-in-stock not-in-stock-homepage">Prodato</p>
                        {% else %}
                        <p class="not-in-stock not-in-stock-homepage">Kupovina u radnji</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock content %}