{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<h3 class="heading-primary">Desktop računari</h3>
<div class="container">
    <div class="home-products">
        {% for pc in pcs %}
            {% if pc.available %}
                <div class="product">
                    <div class="product-content" onclick="location.href='{% url 'product_detail' pc.subcategory.category pc.subcategory.name pc.id %}';">
                        <h3 class="product-name">{{pc.name|truncatechars:33}}</h3>
                        <img src="{% if pc.image %}{{ pc.image.url }}{% else %}{% static 'pcshop/media/nophoto.jpg' %}{% endif %}" alt="Product image">
                        <p class="product-price">{{pc.price}} RSD</p>
                        <p class="product-description">{{pc.description|truncatechars:60}}</p>
                    </div>
                    {% if pc.in_stock and pc.online_shopping %}
                        <a href="#" class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
                    {% else %}
                        {% if not product.in_stock %}
                        <p class="not-in-stock not-in-stock-homepage">Prodato</p>
                        {% else %}
                        <p class="not-in-stock not-in-stock-homepage">Kupovina u radnji</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        
    </div>
</div>

<h3 class="heading-primary">Desktop računari - Sa Intel procesorom</h3>
<div class="container">
    <div class="home-products">
        {% for pcintel in pc_intel %}
            {% if pcintel.available %}
                <div class="product">
                    <div class="product-content" onclick="location.href='{% url 'product_detail' pcintel.subcategory.category pcintel.subcategory.name pcintel.id %}';">
                        <h3 class="product-name">{{pcintel.name|truncatechars:33}}</h3>
                        <img src="{% if pcintel.image %}{{ pcintel.image.url }}{% else %}{% static 'pcshop/media/nophoto.jpg' %}{% endif %}" alt="Product image">
                        <p class="product-price">{{pcintel.price}} RSD</p>
                        <p class="product-description">{{pcintel.description|truncatechars:60}}</p>
                    </div>
                    {% if pcintel.in_stock and pcintel.online_shopping %}
                        <a href="#" class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
                    {% else %}
                        {% if not pcintel.in_stock %}
                        <p class="not-in-stock not-in-stock-homepage">Prodato</p>
                        {% else %}
                        <p class="not-in-stock not-in-stock-homepage">Kupovina u radnji</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        
    </div>
</div>


<h3 class="heading-primary">Desktop računari - Sa AMD procesorom</h3>
<div class="container">
    <div class="home-products">
        {% for pcamd in pc_amd %}
            {% if pcamd.available %}
                <div class="product">
                    <div class="product-content" onclick="location.href='{% url 'product_detail' pcamd.subcategory.category pcamd.subcategory.name pcamd.id %}';">
                        <h3 class="product-name">{{pcamd.name|truncatechars:33}}</h3>
                        <img src="{% if pcamd.image %}{{ pcamd.image.url }}{% else %}{% static 'pcshop/media/nophoto.jpg' %}{% endif %}" alt="Product image">
                        <p class="product-price">{{pcamd.price}} RSD</p>
                        <p class="product-description">{{pcamd.description|truncatechars:60}}</p>
                    </div>
                    {% if pcamd.in_stock and pcamd.online_shopping %}
                        <a href="#" class="btn product-btn-card"><ion-icon class="icon-card" name="bag-add-outline"></ion-icon></a>
                    {% else %}
                        {% if not pcamd.in_stock %}
                        <p class="not-in-stock not-in-stock-homepage">Prodato</p>
                        {% else %}
                        <p class="not-in-stock not-in-stock-homepage">Kupovina u radnji</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        
    </div>
</div>

{% endblock content %}